branches/Scheduler-20110426-1_0-release-branch/SAS/OTB/MoM-OTDB-adapter/src/schemas/LofarMoM2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:persistent="http://www.astron.nl/PersistentObjects" xmlns:mom2="http://www.astron.nl/MoM2" xmlns="http://www.astron.nl/MoM2-Lofar" xmlns:user="http://www.astron.nl/useradmin" targetNamespace="http://www.astron.nl/MoM2-Lofar" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="MoM2.xsd" namespace="http://www.astron.nl/MoM2" />
  <xsd:import schemaLocation="http://proposal.astron.nl/schemas/UserAdmin.xsd" namespace="http://www.astron.nl/useradmin" />
  <xsd:import schemaLocation="http://proposal.astron.nl/schemas/PersistentObjects.xsd" namespace="http://www.astron.nl/PersistentObjects" />
  <xsd:annotation>
    <xsd:documentation>XML Schema for the MoM2 datamodel of Lofar
		</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="project" substitutionGroup="mom2:project" type="LofarProjectType" />
  <xsd:complexType name="LofarProjectType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:ProjectType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="usedDataProducts" nillable="true" type="IndexedLofarProjectInputListType" />
          <xsd:element minOccurs="0" name="children" type="IndexedLofarCollectionChildListType" />
          <xsd:element minOccurs="0" name="members" nillable="true" type="mom2:IndexedMemberListType" />
          <xsd:choice minOccurs="0">
            <xsd:element ref="allocation" />
          </xsd:choice>
          <xsd:element minOccurs="0" name="releaseDate" type="xsd:date" />
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
 
  	<xsd:complexType name="LofarAllocationType">
		<xsd:complexContent>
			<xsd:extension base="mom2:AllocationType">
			 	<xsd:sequence>
						<xsd:element ref="resource" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:element name="resource" type="LofarResourceType"></xsd:element>
	<xsd:complexType name="LofarResourceType">
		<xsd:complexContent>
			<xsd:extension base="mom2:ResourceType">
					<xsd:attribute name="queue" type="xsd:string"></xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
  
  <xsd:element name="allocation" substitutionGroup="mom2:allocation" type="LofarAllocationType" />
  <xsd:complexType name="LofarProjectRefType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="LofarProjectType">
        <xsd:attribute name="id" type="xsd:integer" use="required" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarCollectionChildListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedMom2ObjectListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarCollectionChildItemType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarCollectionChildItemType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedMom2ObjectItemType">
        <xsd:choice>
          <xsd:element ref="collection" />
          <xsd:element ref="observation" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="collection" substitutionGroup="mom2:anyMom2Object" type="LofarCollectionType" />
  <xsd:element name="observation" substitutionGroup="mom2:anyMom2Object" type="LofarObservationType" />
  <xsd:complexType name="IndexedLofarProjectInputListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductListType">
        <xsd:sequence>
          <xsd:element name="item" type="IndexedLofarProjectInputItemType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarProjectInputItemType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductItemType">
        <xsd:choice>
          <xsd:element ref="proposalDocument" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="proposalDocument" substitutionGroup="mom2:anyDataProduct" type="LofarProposalDocumentType" />
  <xsd:complexType name="LofarProposalDocumentType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:DataProductType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <!--
						The current LofarProject will be the owner! <xsd:element name="ownerMom2Object" type="Mom2ObjectRefType"
						minOccurs="0"> </xsd:element>
					-->
          <xsd:element minOccurs="0" name="uri" type="xsd:string" />
          <xsd:element minOccurs="0" fixed="PROPOSAL" name="type" type="xsd:string" />
          <!--
						timeStamp to be set equal to time of upload! <xsd:element name="timeStamp" type="xsd:dateTime" minOccurs="0">
						</xsd:element>
					-->
          <xsd:element minOccurs="0" default="false" name="released" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarCollectionType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:CollectionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="children" type="IndexedLofarCollectionChildListType" />
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarObservationType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:CollectionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="usedDataProducts" nillable="true" type="mom2:IndexedDataProductListType" />
          <xsd:element minOccurs="0" name="resultDataProducts" nillable="true" type="mom2:IndexedDataProductListType" />
          <xsd:choice>
            <xsd:element ref="observationAttributes" />
          </xsd:choice>
          <xsd:element minOccurs="0" name="children" type="IndexedLofarObservationChildListType" />
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarObservationAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:SpecificAttributesType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="observationId" type="xsd:nonNegativeInteger" />
          <xsd:element minOccurs="0" name="antenna" type="LofarAntennaSelectionType" />
          <xsd:element minOccurs="0" name="clock" type="LofarClockType" />
          <xsd:element minOccurs="0" name="integrationInterval" type="xsd:double" />
          <xsd:element minOccurs="0" name="channelsPerSubband" type="xsd:short" />
          <xsd:element minOccurs="0" name="instrumentFilter" type="LofarBandFilterType" />
          <xsd:element minOccurs="0" name="startTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="stations" type="LofarStationsType" />
          <xsd:element minOccurs="0" name="specification" type="LofarObservationSpecificationAttributesType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="observationAttributes" substitutionGroup="mom2:specificAttributes" type="LofarObservationAttributesType" />
  <xsd:complexType name="LofarObservationSpecificationAttributesType">
    <xsd:sequence>
      <xsd:element name="antenna" type="LofarAntennaSelectionType" />
      <xsd:element name="clock" type="mom2:Frequency" />
      <xsd:element name="instrument" type="LofarInstrumentType" />
      <xsd:element name="instrumentFilter" type="LofarBandFilterType" />
      <xsd:element name="integrationInterval" type="xsd:double" />
      <xsd:element name="stationSet" type="LofarStationSelectionType" />
      <xsd:element minOccurs="0" name="stations">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\w{2}\d{3}(,\w{2}\d{3})*" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LofarStationSelectionType">
    <xsd:simpleContent>
      <xsd:restriction base="AbstractLofarStationSelectionType">
        <xsd:enumeration value="Single" />
        <xsd:enumeration value="Core" />
        <xsd:enumeration value="Dutch" />
        <xsd:enumeration value="All" />
        <xsd:enumeration value="Custom" />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AbstractLofarStationSelectionType" abstract="true">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="min" type="xsd:nonNegativeInteger" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LofarStationsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="station" type="LofarStationType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LofarStationType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="location" type="LofarCoordinatesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LofarCoordinatesType">
    <xsd:sequence>
      <xsd:element name="coordinateSystem">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="WGS84" />
            <xsd:enumeration value="ITRF2000" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="x" type="xsd:double" />
      <xsd:element name="y" type="xsd:double" />
      <xsd:element name="z" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LofarAntennaSelectionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HBA One" />
      <xsd:enumeration value="HBA Two" />
      <xsd:enumeration value="HBA Both" />
      <xsd:enumeration value="LBA Outer" />
      <xsd:enumeration value="LBA Inner" />
      <xsd:enumeration value="LBA Sparse" />
      <xsd:enumeration value="LBA X" />
      <xsd:enumeration value="LBA Y" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LofarInstrumentType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Interferometer" />
      <xsd:enumeration value="Tied Array" />
      <xsd:enumeration value="Transient Buffer Board" />
      <xsd:enumeration value="Direct Data Storage" />
      <xsd:enumeration value="Non Standard" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LofarBandFilterType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="10-90 MHz" />
      <xsd:enumeration value="30-80 MHz" />
      <xsd:enumeration value="110-190 MHz" />
      <xsd:enumeration value="170-230 MHz" />
      <xsd:enumeration value="210-250 MHz" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LofarClockType">
    <xsd:sequence>
      <xsd:element name="channelWidth" type="mom2:Frequency" />
      <xsd:element name="samplesPerSecond" type="xsd:double" />
      <xsd:element name="subbandWidth" type="mom2:Frequency" />
      <xsd:element name="systemClock" type="mom2:Frequency" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarObservationChildListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedMom2ObjectListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarObservationChildItemType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarObservationChildItemType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedMom2ObjectItemType">
        <xsd:choice>
          <xsd:element ref="measurement" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="measurement" substitutionGroup="mom2:anyMom2Object" type="LofarMeasurementType" />
  <xsd:complexType name="TBBMeasurementType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="LofarMeasurementType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="resultDataProducts" nillable="true" type="IndexedLofarTBBDataProductListType" />
          <xsd:choice>
            <xsd:element ref="tbbMeasurementAttributes" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarTBBDataProductListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarTBBDataProductType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarTBBDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductItemType">
        <xsd:choice>
          <xsd:element ref="tbbDataProduct" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarTBBMeasurementAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:SpecificAttributesType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="tbbMeasurementAttributes" substitutionGroup="mom2:specificAttributes" type="LofarTBBMeasurementAttributesType" />

  <xsd:complexType name="GenericMeasurementType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="LofarMeasurementType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="resultDataProducts" nillable="true" type="IndexedLofarTBBDataProductListType" />
          <xsd:choice>
            <xsd:element ref="genericMeasurementAttributes" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarGenericDataProductListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarGenericDataProductType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarGenericDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductItemType">
        <xsd:choice>
          <xsd:element ref="genericDataProduct" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarGenericMeasurementAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:SpecificAttributesType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="genericMeasurementAttributes" substitutionGroup="mom2:specificAttributes" type="LofarTBBMeasurementAttributesType" />
  
  <xsd:complexType name="LofarMeasurementType" abstract="true">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:Mom2ObjectType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BFMeasurementType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="LofarMeasurementType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="resultDataProducts" nillable="true" type="IndexedLofarBFDataProductListType" />
          <xsd:choice>
            <xsd:element ref="bfMeasurementAttributes" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="bfMeasurementAttributes" substitutionGroup="mom2:specificAttributes" type="LofarBFMeasurementAttributesType" />
  <xsd:complexType name="IndexedLofarBFDataProductListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarBFDataProductType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarBFDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductItemType">
        <xsd:choice>
          <xsd:element ref="bfDataProduct" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:DataProductType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="storageTicket" type="xsd:string" />
          <xsd:element minOccurs="0" name="fileSize" type="xsd:unsignedLong" />
          <xsd:element minOccurs="0" name="checksums" type="ChecksumTypes" />
        </xsd:sequence>
        <xsd:attribute name="mom2DPId" type="xsd:nonNegativeInteger" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ChecksumAlgorithm">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MD5" />
      <xsd:enumeration value="Adler32" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ChecksumTypes">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="checksum" type="ChecksumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChecksumType">
    <xsd:sequence>
      <xsd:element name="algorithm" type="ChecksumAlgorithm" />
      <xsd:element name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BFDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarDataProductType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UVDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarDataProductType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="subband" type="xsd:nonNegativeInteger" />
          <xsd:element minOccurs="0" name="stationSubband" type="xsd:nonNegativeInteger" />
          <xsd:element minOccurs="0" name="centralFrequency" type="mom2:Frequency" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TBBDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarDataProductType">
        <xsd:sequence>
          <xsd:element name="numberOfSamples" type="xsd:positiveInteger" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarDataProductType">
        <xsd:sequence>
         </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>  
  <xsd:complexType name="LofarBFMeasurementAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarBeamMeasurementAttributesType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UVMeasurementType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="LofarMeasurementType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="mom2:CollectionRefType" />
          <xsd:element minOccurs="0" name="ownerProject" type="mom2:ProjectRefType" />
          <xsd:element minOccurs="0" name="statusHistory" type="mom2:StatusHistoryType" />
          <xsd:element minOccurs="0" name="currentStatus" type="mom2:CurrentStatusType" />
          <xsd:element minOccurs="0" name="generalRemarks" nillable="true" type="mom2:IndexedGeneralRemarkListType" />
          <xsd:element minOccurs="0" name="inspectionReports" nillable="true" type="mom2:IndexedInspectionReportListType" />
          <xsd:element minOccurs="0" name="specificationRemarks" nillable="true" type="mom2:IndexedSpecificationRemarkListType" />
          <xsd:element minOccurs="0" name="schedulingRemarks" nillable="true" type="mom2:IndexedSchedulingRemarkListType" />
          <xsd:element minOccurs="0" name="resultDataProducts" nillable="true" type="IndexedLofarUVDataProductListType" />
          <xsd:choice>
            <xsd:element ref="uvMeasurementAttributes" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="mom2Id" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="uvMeasurementAttributes" substitutionGroup="mom2:specificAttributes" type="LofarUVMeasurementAttributesType" />
  <xsd:complexType name="IndexedLofarUVDataProductListType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="item" type="IndexedLofarUVDataProductType" />
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexedLofarUVDataProductType">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="mom2:IndexedDataProductItemType">
        <xsd:choice>
          <xsd:element ref="uvDataProduct" />
        </xsd:choice>
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarUVMeasurementAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="LofarBeamMeasurementAttributesType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarBeamMeasurementAttributesType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mom2:SpecificAttributesType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ra" type="xsd:double" />
          <xsd:element minOccurs="0" name="dec" type="xsd:double" />
          <xsd:element minOccurs="0" name="equinox" type="EquinoxType" />
          <xsd:element minOccurs="0" name="duration" type="xsd:duration" />
          <xsd:element minOccurs="0" name="startTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="centralFrequency" type="mom2:Frequency" />
          <xsd:element minOccurs="0" name="bandWidth" type="mom2:Frequency" />
          <xsd:element minOccurs="0" name="subbands" type="SubbandArrayType" />
          <xsd:element minOccurs="0" name="measurementType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Target" />
                <xsd:enumeration value="Calibration" />
                <xsd:enumeration value="Tune Up" />
                <xsd:enumeration value="Miscellaneous" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="specification" type="LofarBeamMeasurementSpecificationAttributesType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LofarBeamMeasurementSpecificationAttributesType">
    <xsd:sequence>
      <xsd:element name="targetName" type="xsd:string" />
      <xsd:element name="ra" type="xsd:double" />
      <xsd:element name="dec" type="xsd:double" />
      <xsd:element name="equinox" type="EquinoxType" />
      <xsd:element name="duration" type="xsd:duration" />
      <xsd:element name="subbandsSpecification" type="LofarSubbandsSpecificationType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LofarSubbandsSpecificationType">
    <xsd:sequence>
      <xsd:element name="bandWidth" type="mom2:Frequency" />
      <xsd:element name="centralFrequency" type="mom2:Frequency" />
      <xsd:element name="contiguous" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="subbands" type="SubbandArrayType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LofarCustomSubbandsSpecificationType" />
  <xsd:simpleType name="SubbandArrayType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{1,3}(,\d{1,3})*|\d{1,3}\.\.\d{1,3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EquinoxType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="J2000" />
      <xsd:enumeration value="B1950" />
      <xsd:enumeration value="Other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="uvDataProduct" substitutionGroup="mom2:anyDataProduct" type="UVDataProductType" />
  <xsd:element name="bfDataProduct" substitutionGroup="mom2:anyDataProduct" type="BFDataProductType" />
  <xsd:element name="tbbDataProduct" substitutionGroup="mom2:anyDataProduct" type="TBBDataProductType" />
  <xsd:element name="genericDataProduct" substitutionGroup="mom2:anyDataProduct" type="GenericDataProductType" />
</xsd:schema>